<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.equipment.equipment.dao.EquipmentMapper">



    <!--插入数据equipment表-->
    <insert id="insertData" parameterType="com.equipment.equipment.entity.Equipment">
        insert into equipment(id,codeNo,equipment_name, brand,model, manufacture_time, shelf_life,supplier_name,
		after_sales, detection_time,detection_date,qualified,image)
		values(#{id},#{codeNo},#{equipmentName},#{brand},#{model},
		#{manufactureTime},#{shelfLife},#{supplierName},#{afterSales},
		#{detectionTime},#{detectionDate},#{qualified},#{image});
    </insert>

    <resultMap id="resultmapa" type="com.equipment.equipment.entity.Equipment">
        <result property="id" column="id" />
        <result property="codeNo" column="codeNo" />
        <result property="equipmentName" column="equipment_name" />
        <result property="brand" column="brand" />
        <result property="model" column="model" />
        <result property="manufactureTime" column="manufacture_time" />
        <result property="shelfLife" column="shelf_life" />
        <result property="supplierName" column="supplier_name" />
        <result property="afterSales" column="after_sales" />
        <result property="detectionTime" column="detection_time" />
        <result property="detectionDate" column="detection_date" />
        <result property="qualified" column="qualified" />
        <result property="image" column="image" />

        <association property="servicePic" javaType="servicePic">
            <result property="reid" column="reid" />
            <result property="img" column="img" />
        </association>
    </resultMap>

    <!--查询全部数据-->
    <select id="selectAll"  resultMap="resultmapa">
        select e.id,e.codeNo,e.equipment_name,e.brand,e.model,
                e.manufacture_time,e.shelf_life,
                e.supplier_name,e.after_sales,
                e.detection_time,e.detection_date,e.qualified,e.image,s.reid,s.img
        from equipment e left join servicepic s
        on e.image=s.reid;
    </select>
    <!--查询表中最后一条数据-->
    <select id="selectData" resultMap="resultmapa">
        select top 1 e.id,e.codeNo,e.equipment_name,e.brand,e.model,
                e.manufacture_time,e.shelf_life,
                e.supplier_name,e.after_sales,
                e.detection_time,e.detection_date,e.qualified,e.image,s.reid,s.img
        from equipment e left join servicepic s
        on e.image=s.reid
        order by id desc
    </select>

    <select id="getELDataByCode" resultMap="resultmapa">
       select top 1 e.id,e.codeNo,e.equipment_name,e.brand,e.model,
                e.manufacture_time,e.shelf_life,
                e.supplier_name,e.after_sales,
                e.detection_time,e.detection_date,e.qualified,e.image,s.reid,s.img
       from equipment e where codeNo = #{codeNo}
       order by id desc
    </select>

    <!--动态sql 模糊查询-->
    <select id="getA" resultMap="resultmapa">
        select e.id,e.codeNo,e.equipment_name,e.brand,e.model,
        e.manufacture_time,e.shelf_life,
        e.supplier_name,e.after_sales,
        e.detection_time,e.detection_date,e.qualified,e.image,s.reid,s.img
        from equipment e
        left join servicepic s
        on e.image=s.reid
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id != null">
            or id = #{id}
            </if>
            <if test="equipmentName != null">
            or equipment_name  like #{equipmentName}
            </if>
            <if test="brand != null">
            or brand like #{brand}
            </if>
             <if test="model != null">
                 or model like #{model}
             </if>
             <if test="manufactureTime != null">
                 or manufacture_time like #{manufactureTime}
             </if>
             <if test="shelfLife != null">
                 or shelf_life like #{shelfLife}
             </if>
             <if test="supplierName != null">
                 or supplier_name like #{supplierName}
             </if>
             <if test="afterSales != null">
                 or after_sales like #{afterSales}
             </if>
             <if test="detectionTime != null">
                 or detection_time like #{detectionTime}
             </if>
             <if test="detectionDate != null">
                 or detection_date like #{detectionDate}
             </if>
             <if test="qualified != null">
                 or qualified like #{qualified}
             </if>

        </trim>
    </select>
    <!--修改监测数据-->
    <update id="upshujuA" parameterType="com.equipment.equipment.entity.Equipment">
        update equipment  set detection_date = #{detectionDate},detection_time = #{detectionTime} where id = #{id}
    </update>


</mapper>