<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.equipment.equipment.dao.WmsCodeDao">




    <resultMap id="resultmapa" type="com.equipment.equipment.entity.WmsCode">
        <result property="codeId" column="codeId" />
        <result property="codeNo" column="codeNo" />
        <result property="materialId" column="materialId" />
    </resultMap>


    <select id="getData" parameterType="com.equipment.equipment.entity.WmsCode"  resultMap="resultmapa" >
        SELECT   codeNo,MaterialName,  MaterialSpec , WarehouseName , WarehouseCode , BrandName
        from VW_WMS_QR
        where codeNo=#{codeNo};
    </select>



</mapper>